<div class="container">
	<br>
	<p>
		Aplikacja pokazuje możliwość komunikacji z usługą udostępnioną za pośrednictwem serwisu REST <a href="http://openweathermap.org/" target="_blank">OpenWeatherMap</a>.<br>
		Do prawidłowego działania konieczny jest klucz pozwalający na wykorzystanie udostępnionego API.<br>
		<br>
		W aplikacji wykorzystano także komponenty:<br>
		<a href="http://www.angular.io/" target="_blank">Angular</a><br>
		<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a><br>
		<a href="http://bootswatch.com/" target="_blank">Bootswatch</a><br>
	</p>
</div>
